<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alsydy.accountbook">

    <application
        android:allowBackup="true"
        android:label="دفتر الحسابات"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.App">
        <activity android:name=".ui.AddAccountActivity" />
        <activity android:name=".ui.AccountDetailsActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>